<app-barnav></app-barnav>
<div class="body">
    <h2>Catálogo</h2>
    <div class="pricing-grid">
        <div class="bandejas">
            <div class="product">
                <b>Segunda</b>
                <p>$6.500</p>
                <img src="asset/bandeja.jpg" alt="Bandeja de huevos (30)">
                <p>Bandeja de huevos (30)</p>
            </div>
            <div class="product">
                <b>Primera</b>
                <p>$6.800</p>
                <img src="asset/bandeja.jpg" alt="Bandeja de huevos (30)">
                <p>Bandeja de huevos (30)</p>
            </div>
            <div class="product">
                <b>Extra</b>
                <p>$7.000</p>
                <img src="asset/bandeja.jpg" alt="Bandeja de huevos (30)">
                <p>Bandeja de huevos (30)</p>
            </div>
            <div class="product">
                <b>Super Extra</b>
                <p>$7.500</p>
                <img src="asset/bandeja.jpg" alt="Bandeja de huevos (30)">
                <p>Bandeja de huevos (30)</p>
            </div>
        </div>
        <div class="cajas">
            <div class="product">
                <b>Segunda</b>
                <p>$37.000</p>
                <img src="asset/caja.jpg" alt="Caja de huevos (180)">
                <p>Caja de huevos (180)</p>
            </div>
            <div class="product">
                <b>Primera</b>
                <p>$39.000</p>
                <img src="asset/caja.jpg" alt="Caja de huevos (180)">
                <p>Caja de huevos (180)</p>
            </div>
            <div class="product">
                <b>Extra</b>
                <p>$40.000</p>
                <img src="asset/caja.jpg" alt="Caja de huevos (180)">
                <p>Caja de huevos (180)</p>
            </div>
            <div class="product">
                <b>Super Extra</b>
                <p>$42.000</p>
                <img src="asset/caja.jpg" alt="Caja de huevos (180)">
                <p>Caja de huevos (180)</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>