<app-barnav></app-barnav>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<div class="body">
    <div class="about-eggs">
        <h1>Sobre huevos</h1>
        <section class="nutrition">
            <h2>Nutrición</h2>
            <div class="nutrition-info">
                <div>
                    <b>Tamaño de Porción</b>
                    <p>1 huevo (50g)</p>
                </div>
                <div>
                    <b>Calorías</b>
                    <p>70</p>
                </div>
                <div>
                    <b>Proteínas</b>
                    <p>6g</p>
                </div>
                <div>
                    <b>Grasas</b>
                    <p>5g</p>
                </div>
                <div>
                    <b>Colesterol</b>
                    <p>185mg</p>
                </div>
                <div>
                    <b>Carbohidratos</b>
                    <p>0g</p>
                </div>
                <div>
                    <b>Sodio</b>
                    <p>65mg</p>
                </div>
            </div>            
            <p>Los huevos son una buena fuente de proteína de alta calidad y otros nutrientes. Contienen los 9 aminoácidos esenciales y son ricos en vitaminas y minerales, incluyendo vitamina A, D, E, B12, hierro y zinc.</p>
        </section>
    
        <section class="types-eggs">
        <h2>Tipos de Huevos</h2>
        <div class="egg-types">
            <div class="type">
            <img src="conventional-eggs.jpg" alt="Huevos Convencionales">
            <p><b>Huevos de gallinas criadas en jaula:</b> Provienen de gallinas que viven en espacios reducidos dentro de jaulas.</p>
            </div>
            <div class="type">
            <img src="organic-eggs.jpg" alt="Huevos Orgánicos">
            <p><b>Huevos de gallinas en suelo:</b> Las gallinas viven sueltas en el suelo dentro de naves cerradas, pero sin acceso al exterior.</p>
            </div>
            <div class="type">
            <img src="pasture-eggs.jpg" alt="Huevos de Pastoreo">
            <p><b>Huevos de gallinas de libre pastoreo:</b> Provienen de gallinas que tienen acceso al exterior y pueden moverse libremente.</p>
            </div>
        </div>
        </section>
    
        <section class="clasificacion-eggs">
            <h2>Clasificación de Huevos</h2>
            <div class="egg-clasificacion">
                <div class="clasificacion">
                    <img src="clasificacion-segunda.jpg" alt="Segunda">
                    <p><b>Segunda:</b> 50g - 55g</p>
                </div>
                <div class="clasificacion">
                    <img src="clasificacion-primera.jpg" alt="Primera">
                    <p><b>Primera:</b> 56g - 61g</p>
                </div>
                <div class="clasificacion">
                    <img src="clasificacion-extra.jpg" alt="Extra">
                    <p><b>Extra:</b> 62g - 67g</p>
                </div>
                <div class="clasificacion">
                    <img src="clasificacion-superextra.jpg" alt="Super Extra">
                    <p><b>Super Extra:</b> 68g-73g</p>
                </div>
            </div>
        </section>        
    
        <section class="storage-cooking">
            <h2>Consejos para Almacenamiento y Cocción</h2>
            <div class="storage-cooking-info">
                <div>
                  <b>Refrigerador</b>
                  <p>Almacenar a 4°C o menos</p>
                </div>
                <div>
                  <b>Congelador</b>
                  <p>No se recomienda para huevos crudos, pero los platos cocidos con huevo se pueden congelar hasta por 3 meses</p>
                </div>
                <div>
                  <b>Huevo duro</b>
                  <p>Dejar enfriar completamente antes de refrigerar en su cáscara por hasta 1 semana</p>
                </div>
                <div>
                  <b>Huevo Revuelto</b>
                  <p>Cocinar hasta que no quede huevo líquido visible y refrigerar dentro de las 2 horas</p>
                </div>
                <div>
                  <b>Huevo Frito</b>
                  <p>Cocinar hasta que las claras estén completamente cuajadas y las yemas comiencen a espe sar, luego refrigerar dentro de las 2 horas</p>
                </div>
                <div>
                  <b>Huevo Pochado</b>
                  <p>Cocinar hasta que las claras estén completamente cuajadas y las yemas comiencen a espesar, luego refrigerar dentro de las 2 horas</p>
                </div>
              </div>                          
        </section>        
    
        <section class="fun-facts">
            <h2>Datos Curiosos sobre Huevos</h2>
            <div class="fact-list">
                <div class="fact-item">
                    <i class="fa-solid fa-egg"></i>
                    <div class="fact-text">
                        <b>Las yemas de huevo son una fuente natural de lecitina, que ayuda a emulsionar grasas y líquidos, lo que las convierte en un ingrediente importante en muchas recetas, como la mayonesa y la salsa holandesa.</b>
                        <p>Las yemas de huevo son una fuente natural de lecitina, que ayuda a emulsionar grasas y líquidos, lo que las convierte en un ingrediente importante en muchas recetas, como la mayonesa y la salsa holandesa.</p>
                        <p>Los huevos son uno de los pocos alimentos que contienen vitamina D de manera natural. Las gallinas que son alimentadas con una dieta rica en vitamina D producen huevos con niveles más altos de este nutriente.</p>
                    </div>
                    <span class="number">1</span>
                </div>
                
                <div class="fact-item">
                    <i class="fa-solid fa-rainbow"></i>
                    <div class="fact-text">
                        <b>El color de la cáscara de un huevo está determinado por la raza de la gallina y no tiene efecto en el sabor o el valor nutricional del huevo. Los huevos blancos, marrones y azul verdoso son los colores más comunes.</b>
                        <p>El color de la cáscara de un huevo está determinado por la raza de la gallina y no tiene efecto en el sabor o el valor nutricional del huevo. Los huevos blancos, marrones y azul verdoso son los colores más comunes.</p>
                    </div>
                    <span class="number">2</span>
                </div>
                <div class="fact-item">
                    <i class="fa-solid fa-wind"></i>
                    <div class="fact-text">
                        <b>Las cáscaras de huevo son porosas, lo que permite el paso de aire y humedad. Por eso los huevos pueden absorber olores y sabores de otros alimentos en el refrigerador.</b>
                        <p>Las cáscaras de huevo son porosas, lo que permite el paso de aire y humedad. Por eso los huevos pueden absorber olores y sabores de otros alimentos en el refrigerador.</p>
                    </div>
                    <span class="number">3</span>
                </div>
                <div class="fact-item">
                    <i class="fa-solid fa-sun"></i>
                    <div class="fact-text">
                        <b>Las gallinas con mayor acceso a la luz solar y a la recolección al aire libre producen huevos con niveles más altos de ácidos grasos omega-3, que son beneficiosos para la salud del corazón.</b>
                        <p>Las gallinas con mayor acceso a la luz solar y a la recolección al aire libre producen huevos con niveles más altos de ácidos grasos omega-3, que son beneficiosos para la salud del corazón.</p>
                    </div>
                    <span class="number">4</span>
                </div>
            </div>
        </section>                     
        
    </div>
</div>
<app-footer></app-footer>