<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<app-barnav></app-barnav>

<div class="main-cont">

    <div class="map">

        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3201.6399278365734!2d-72.0137099241692!3d-36.63505297229467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96692b26021cdb07%3A0x5f9ce8cfae674a9a!2sAvicola%20las%20Mariposas!5e0!3m2!1ses!2scl!4v1735951964740!5m2!1ses!2scl" 
            class="map-frame" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>


    </div>

    <h2>Nuestras Redes Sociales</h2>

    <div class="social-container">
        <a href="https://web.facebook.com/profile.php?id=100063919546339" target="_blank" class="social-card">
            <div class="social-text">
                <strong>Facebook</strong>
                <p>Síguenos en Facebook</p>
            </div>
            <span>Avicola Las Mariposas  →</span>
        </a>
        <a href="https://www.instagram.com/avicolalasmariposas" target="_blank" class="social-card">
            <div class="social-text">
                <strong>Instagram</strong>
                <p>Síguenos en Instagram</p>
            </div>
            <span>&#64;avicolalasmariposas →</span>
        </a>
        <a href="https://www.youtube.com/watch?v=d1npnnq9KgE" target="_blank" class="social-card">
            <div class="social-text">
                <strong>Youtube</strong>
                <p>Síguenos en Youtube</p>
            </div>
            <span>&#64;avicolalasmariposas3151 →</span>
        </a>

        <a href="https://wa.me/56935349239?text=Hola%2C%20me%20gustar%C3%ADa%20m%C3%A1s%20informaci%C3%B3n%20de%20sus%20productos." target="_blank" class="social-card">
            <div class="social-text">
                <strong>WhatsApp</strong>
                <p>Escríbenos en WhastApp para agendar un pedido</p>
            </div>
            <span>&#64;56 9 XXXX 9239 →</span>
        </a>
    </div>

</div>

<app-footer></app-footer>
