<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<app-barnav></app-barnav>

<div class="main-cont">

  <div class="gallery">
    <button class="gallery-btn left" (click)="prevImage()">&#9664;</button>
    <img [src]="currentImage" alt="Gallery Image" class="gallery-image">
    <button class="gallery-btn right" (click)="nextImage()">&#9654;</button>
  </div>

  <h2>¿Por que escogernos?</h2>

  <div class="features-container">
    <div class="feature-card">
        <h3>100% Libres</h3>
        <p>Nuestras gallinas disfrutan de libertad total para deambular al aire libre, explorando y alimentándose en un entorno natural durante todo el día.</p>
    </div>
    <div class="feature-card">
        <h3>100% Dieta Vegetariana</h3>
        <p>Alimentamos a nuestras gallinas exclusivamente con una dieta vegetariana, sin incluir subproductos de origen animal.</p>
    </div>
    <div class="feature-card">
        <h3>100% Libres de Hormonas</h3>
        <p>Garantizamos que nuestras gallinas no reciben hormonas ni antibióticos, asegurando productos naturales y de calidad.</p>
    </div>
  </div>

  <hr>

  <h2>Acerca de Nosotros</h2>
  <h3>Camino Las Mariposas Kilometro 11, Chíllan, Chile</h3>

  <div class="about-us">
    <div class="paragraphs">
        <p>
          Avícola Las Mariposas es una empresa familiar fundada en 2020, dedicada con pasión y esmero a la producción de huevos frescos provenientes de gallinas libres. Nuestras aves, de la reconocida raza Lohmann Brown, son criadas en un entorno natural y respetuoso, lo que les permite desarrollar su máximo bienestar y garantizar huevos de la más alta calidad.
        </p>

        <p>
          Nuestra misión es clara: ofrecer huevos excepcionales mientras priorizamos la felicidad y la salud de nuestras gallinas, promoviendo prácticas éticas y sostenibles en la industria avícola.

        </p>

        <p>
          Ubicados en Camino Las Mariposas, kilómetro 11, Chillán, combinamos tradición, cuidado animal y compromiso con la excelencia. Creemos firmemente en el respeto por la naturaleza, la confianza de nuestros clientes y la fortaleza del trabajo en familia.
        </p>
          Gracias por acompañarnos en esta trayectoria llena de esfuerzo y dedicación. ¡Bienvenidos a Avícola Las Mariposas!
        <p>

        </p>

    </div>

    <img src="asset/gallina.png" alt="Gallina Avicola las Mariposas">
  </div>

  <hr>

  <h2>Testimonios/Comentarios</h2>
  <div class="testimonios-container">
    <div class="testimonial">
      <p class="comentario">"La mejor Avícola de Chillán. Yo compro a ojo cerrado. Son mis favoritos. Cuando mi esposo viene de Punta Arenas y le preparo huevos por la mañana, llega a cerrar los ojos y dice ¡Éstos son huevos de verdad, que cosa más buena y que sabor!"</p>
      <p class="autor">- &#64;pastelera.giselascott</p>
      <p class="fecha">Publicado el: 26 de noviembre de 2024</p>
      <a class="link-publicacion" href="https://www.instagram.com/p/DC13MUrRU1Y/" target="_blank">Ver publicación</a>
    </div>
    <div class="testimonial">
      <p class="comentario">"Las veo todos los días desde mi casa y doy fe que son muuuuyyyy felices esas hermosas gallinas❤️"</p>
      <p class="autor">- &#64;rosa_lia1966</p>
      <p class="fecha">Publicado el: 19 de agosto de 2021</p>
      <a class="link-publicacion" href="https://www.instagram.com/p/CSxFSi8rD-G/?img_index=1" target="_blank">Ver publicación</a>
    </div>
    <div class="testimonial">
      <p class="comentario">"Qué No te falte el huevo,y menos que te falte el mejor, el auténtico y más ,mucho más nutritivo,el de gallina libre y feliz,de libre pastoreo ,libre de hormonas y el mejor bienestar que las gallinas pueden tener!!! Avícola Las Mariposas"</p>
      <p class="autor">- &#64;marcelasalazarquiroz</p>
      <p class="fecha">Publicado el: 22 de febrero de 2021</p>
      <a class="link-publicacion" href="https://www.instagram.com/p/CL0bLy_F9ug/" target="_blank">Ver publicación</a>
    </div>
  </div>
  


</div>

<app-footer></app-footer>
