/* Footer General */
.footer {
    background-color: #f8f9fa; /* Color más claro para mayor contraste */
    border-top: 1px solid #ddd;
    padding: 40px 20px; /* Espaciado más amplio */
    font-family: "Ubuntu", serif;
    color: #000;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Kanit", serif;
    gap: 20px; /* Espaciado entre elementos en dispositivos pequeños */
}

.footer-logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}

.footer-logo-img {
    width: 60px;
    height: 40px;
    margin-right: 10px;
}

.footer-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px; /* Espaciado entre elementos del menú */
}

.footer-menu li {
    margin: 0;
    text-decoration: none;
}

.footer-menu a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-menu a:hover {
    color: #555;
}

.footer-social {
    display: flex;
    gap: 15px; /* Espaciado entre los íconos sociales */
    text-decoration: none;
}

.social-link-facebook {
    margin: 0;
    color: #000;
    font-size: 18px; /* Íconos más grandes */
    transition: color 0.3s, transform 0.3s;
    text-decoration: none;
    text-align: center;
}
.social-link-instagram {
    margin: 0;
    color: #000;
    font-size: 18px; /* Íconos más grandes */
    transition: color 0.3s, transform 0.3s;
    text-decoration: none;
    text-align: center;
}
.social-link-youtube {
    margin: 0;
    color: #000;
    font-size: 18px; /* Íconos más grandes */
    transition: color 0.3s, transform 0.3s;
    text-decoration: none;
    text-align: center;
}

.social-link-facebook:hover {
    background: linear-gradient(45deg, #1877f2, #0056d2, #0039a6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.2);
}
.social-link-instagram:hover {
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.2);
}
.social-link-youtube:hover {
    background: linear-gradient(45deg, #ff0000, #cc0000, #990000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.2);
}

.footer-bottom {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #777;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column; /* Apila los elementos en vertical */
        text-align: center;
    }

    .footer-menu {
        flex-direction: column;
        gap: 10px; /* Menú con más espacio en vertical */
    }

    .footer-social {
        justify-content: center;
    }
}
