<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="asset/logo.png" alt="Logo" class="footer-logo-img">
            <span>Avícola las Mariposas</span>
        </div>
        <ul class="footer-menu">
            <li><a href="#">Política de privacidad</a></li>
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Aviso legal</a></li>
            <li><a href="#">Contáctanos</a></li>
        </ul>
        <div class="footer-social">
            <a href="https://web.facebook.com/profile.php?id=100063919546339" class="social-link-facebook">Facebook</a>
            <a href="https://www.instagram.com/avicolalasmariposas/" class="social-link-instagram">Instagram</a>
            <a href="https://www.youtube.com/watch?v=d1npnnq9KgE" class="social-link-youtube">Youtube</a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Avícola las Mariposas. Todos los derechos reservados.</p>
    </div>
</footer>